.formWrapper {
  color: $black;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  overflow-y: scroll;
  background: url('/svg/committees_bg.svg');
  background-size: cover;
}

.form {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  height: 90%;
  width: 90%;

  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
  overflow-y: scroll;

  span {
    color: $greenAqua;
    text-decoration: underline;

    cursor: pointer;
  }

  h1 {
    margin-bottom: 15px;
  }

  @media (max-height: 550px) {
    h1 {
      font-size: 1.2rem;

      margin-bottom: 5px;
    }
  }

  &__button {
    font-size: 1rem;
    font-weight: 800;
    color: #EDEDED;

    margin: 15px 0;
    padding: 1rem 2rem;

    background: $greenAqua;
    border-radius: 10px;
    border: 1px solid $greenAqua;
    cursor: pointer;
    outline: none;
    transition: $trans;

    @media (max-height: 550px) {
      margin: 5px 0;
      padding: .5rem 1rem;
    }
  }

  &__input {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 16px 0;

    select{
      width: 228px;
    }

    input,
    select {
      color: $black;

      padding: 15px 2rem;

      border-radius: 15px;
      border: 2px solid black;
      outline: none;
      transition: $trans;

      &:focus,
      &:valid,
      &:hover {
        border-color: $greenAqua
      }

      &:focus+label,
      &:valid+label {
        color: $greenAqua;

        transform: translate(10%, -150%);
      }
    }

    label {
      position: absolute;
      bottom: 50%;

      transition: $trans;
      transform: translate(1.6rem, 50%);
      pointer-events: none;
    }

    @media (max-height: 570px) {
      margin: 5px 0;

      input,
      select {
        padding: 10px 2rem;
      }
    }
  }
}

.close {
  font-size: 2.5rem;
  color: $greenAqua;

  position: absolute;
  top: 2%;
  right: 4%;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 75px;
  width: 75px;
  cursor: pointer;
}