// Colors
$blue: #3D66A8;
$orange: #D59329;
$red: #D52D44;
$green: #459B53;
$greenAqua: #1FAF92;
$white: #FFFFFF;
$black: #000000;
$grey: #848484;
$transparent: rgba(0, 0, 0, 0.5);

// Transitions
$trans: all .3s ease-in-out;